/* 공통 다크모드 */
html, body, input, textarea, select, button {
    border-color: #736b5e !important;
    color: #e8e6e3 !important;
}

html, body, input, textarea, select, button {
    background-color: #181a1b !important;
    /* background-color: #0b0c0c; */
}

::-webkit-scrollbar {
    background-color: #202324 !important;
    color: #aba499;
}

::-webkit-scrollbar-corner {
    background-color: #181a1b !important;
    /* background-color: #0b0c0c; */
}

::-webkit-scrollbar-thumb {
    background-color: #454a4d !important;
}

::selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
}

hr {
    border-color: #262728;
}

footer {
    background-color: rgb(11, 12, 13) !important;
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 30px !important;
}

option {
    color: #fff !important;
}

#home h1 {
    color: #fff !important;
}

#home h3 {
    color: #e0e0e0 !important;
}

#home .section3 h1 {
    color: #eeeeee !important;
}

.button {
    color: #fff !important;
}

.card, #dev section {
    background-color: #0f0f0f !important;
}

.leftMenu p {
    color: #fffa !important;
}

.leftMenu p:hover {
    color: #fff !important;
}

.leftMenu li {
    color: #fff4 !important;
}

.leftMenu li:hover {
    color: #fff9 !important;
}

.links i:hover {
    color: #fff !important;
}

.links i {
    padding: 2px 4px;
    color: #ddd;
}

.links svg:hover g {
    fill: #fff !important;
}

.links g {
    fill: #ddd;
}

/* 20210724 Dev 페이지 아이콘 픽스-SSKATE */
.icon,
.fab,
.fas {
    color: #ffffff;
}
/**/