/* 헤더, 네비게이션 */
.navbarBg {
  width: 100%;
  padding-bottom: 60px;
  background-color: #0f0f0f;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  position: absolute;
}
@media all and (max-width: 720px) { 
  .navbarBg {
    padding-bottom: 70px;
  }
}

header {
  position: fixed;
  width: 100vw;
  z-index: 4;
  background: #0006;
  transition: background 0.25s cubic-bezier(.79,.14,.15,.86);
}

.navbar {
  align-items: center;
  display: flex;
  margin: 0px auto;
  max-width: 1060px;
  height: 60px;
}
@media all and (max-width: 1060px) { 
  .navbar {
    width: 100%;
  }
}
@media all and (max-width: 720px) { 
  .navbar {
    height: 70px;
  }
}

.logo:hover .logoImg g {
  fill: var(--header_link_select);
}
.logo {
  margin: 0px 30px;
  opacity: 1.0;
}
.logo, .logoImg {
  width: auto;
  height: 22px;
}
@media all and (max-width: 720px) {
  .logo {
    margin: 0px 0px 0px 40px;
  }
  .logo, .logoImg {
    height: 30px;
  }
}

.menu {
  margin-right: auto;
  display: flex;
  height: 100%;
}

.highlight, .menu > .router-link-exact-active {
  border-top: 2px solid var(--header_link) !important;
  height: calc(100% - 4px);
  padding-bottom: 2px;
}

.menu a:hover {
  color: var(--header_link_select);
}
.menu a:hover path {
  fill: var(--header_link_select);
}
.menu a {
  font-size: 15px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  color: var(--header_link);
}
@media all and (max-width: 720px) { 
  .menu a {
    display: none;
  }
}

.RightMenu {
  color: var(--header_link);
  margin-right: 30px;
  display: flex;
  align-items: center;
}
@media all and (max-width: 720px) { 
  .RightMenu {
    margin-right: 40px;
    gap: 20px;
  }
}

.RightMenu img:hover {
  filter: brightness(85%);
}
.RightMenu img {
  margin-left: 0px;
  height: 23px;
  cursor: pointer;
}
@media all and (max-width: 720px) { 
  .RightMenu img {
    height: 28px;
  }
}

#lightBtn, #darkBtn {
  height: 23px;
}
@media all and (max-width: 720px) { 
  #lightBtn, #darkBtn {
    height: 28px;
  }
}

.burger {
  width: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
  cursor: pointer;
}
@media all and (min-width: 721px) { 
  .burger {
    display: none !important;
  }
}

.burger div {
  width: 100%;
  height: 4px;
  transition: all 0.25s cubic-bezier(.18,.89,.32,1.28);
  background: var(--header_link);
}
.burgerToggle div:nth-child(1) {
  transform: rotate(-45deg) translate(-6px, 8px);
}
.burgerToggle div:nth-child(2) {
  opacity: 0;
}
.burgerToggle div:nth-child(3) {
  transform: rotate(45deg) translate(-6px, -8px);
}

.mobMenu {
  transition: all 0.25s cubic-bezier(.79,.14,.15,.86);
  width: 100%;
  height: 0px;
  overflow: hidden;
}

.mobMenu_links {
  display: flex;
  flex-direction: column;
}

.mobMenu_links a {
  color: var(--header_link);
  font-size: 18px;
  padding: 15px 50px;
}

hr {
  width: 85%;
  margin: 0px auto;
  border-color: #0006;
}