@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

.roll {
    color: #ffffff;
    background: #000000;
    border: solid 5px #000000;
    border-top: none;
    height: 1em;
    font-size: 60px;
    font-family: 'Black Han Sans', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
    transition: all 0.6s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.roll div {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    transition: all 0.6s ease;
}