main {
    padding-top: 180px;
    margin: 0px auto;
    width: 1000px;
}
@media all and (max-width: 1200px) { 
    main {
        width: 850px;
    }
}
@media all and (max-width: 1020px) { 
    main {
        width: 750px;
    }
}
@media all and (max-width: 830px) { 
    main {
        width: 100%;
    }
}
@media all and (max-width: 460px) { 
    main {
        width: 80%;
    }
}

.help_left {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    width: 300px;
    height: calc(100vh - 60px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.help_left ul:hover {
    color: #000;
}
.help_left ul {
    color: #0009;
    cursor: pointer;
    padding: 5px;
    width: fit-content;
}

.help_left li {
    list-style: none;
}

.help_right {
    min-height: calc(100vh - 60px - 170px);
    margin-left: 300px;
}

.help_right hr {
    margin: 10px 0px 25px 0px;
    border-color: #0005;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    font-weight: 400;
}

.content a:hover {
    text-decoration: underline;
}
.content a {
    color: var(--color_link);
    margin: 0px 3px;
}

.code {
    background: rgb(30, 31, 32);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    font-weight: 300;
    cursor: text;
}