/* 콘텐츠 */
main {
  min-height: calc(100vh - 180px - 60px - 170px);
  padding: 180px 0px 60px 0px;
  overflow: hidden;
}

hr {
  border-color: #0002;
}

.miniNav {
  display: flex;
  justify-content: center;
  position: fixed;
  gap: 20px;
  top: 60px;
  width: -moz-available;
  width: -webkit-fill-available;
  padding: 20px 50px;
  z-index: 2;
  color: var(--color_white);
  background: #0006;
}
@media all and (max-width: 720px) { 
  .miniNav {
    top: 70px;
    padding: 20px 40px;
  }
}

.miniNav_nav {
  margin-right: 300px;
  display: flex;
  gap: 10px;
}
@media all and (max-width: 830px) { 
  .miniNav_nav {
    margin-right: auto;
  }
}

.miniNav_nav a:hover {
  background: var(--color_white);
  color: var(--color_black);
}

.miniNav_nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 25px;
  height: 25px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid var(--color_white);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media all and (max-width: 650px) { 
  .miniNav_nav a:nth-child(5) {
    display: none;
  }
  .miniNav_nav a:nth-child(6) {
    display: none;
  }
}
@media all and (max-width: 460px) { 
  .miniNav_nav a:nth-child(3) {
    display: none;
  }
  .miniNav_nav a:nth-child(4) {
    display: none;
  }
}

.nav_highlight {
  background: var(--color_white);
  color: var(--color_black);
}

.miniNav select {
  background: none;
  cursor: pointer;
  border: 1px solid var(--color_white);
  color: var(--color_white);
  font-size: 12px;
  border-radius: 5px;
  padding: 5px;
}

.miniNav option {
  color: var(--color_black);
}

.container {
  gap: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--color_white);
  border-radius: 10px;
  box-shadow: rgba(105, 105, 105, 0.3) 0px 0px 20px 0px;
  text-align: center;
  width: 400px;
  height: fit-content;
}

@media all and (max-width: 720px) {
  .card {
    width: 300px;
  }
}

.card p {
  margin: 15px 0px;
}

.pathNote_header {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  height: 30px;
  font-size: 12px;
}

.pathNote_header a {
  padding: 0px;
}

.pathNote_header img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: var(--color_black);
  border:  1px solid #888;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.name {
  margin-right: auto;
}

.pathNote_footer {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 5px 30px;
  font-size: 12px;
}

.like {
  font-size: 20px;
  margin-top: 3px;
  padding-right: 5px;
  cursor: pointer;
}

.like_count {
  margin-right: auto;
  padding: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}