/* 배너 */
.home {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section {
  width: 1000px;
  height: 100vh;
  display: flex;
  align-items: center;
}

@media all and (max-width: 1200px) { 
  .section {
    width: 850px;
  }
}

@media all and (max-width: 1020px) { 
  .section {
    width: 750px;
  }
}

@media all and (max-width: 830px) { 
  .section {
    width: 100%;
  }
}

@media all and (max-width: 460px) { 
  .section {
    width: 80%;
  }
}

#banner1 .banner_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

@media all and (max-width: 830px) { 
  #banner1 .banner_inner {
    margin-top: 40px;
    flex-direction: column;
    gap: 40px;
  }
}

@media all and (max-width: 460px) { 
  #banner1 .banner_inner {
    gap: 20px;
  }
}
  
  #banner1 h1 {
    font-size: 50px;
    margin: 0px;
    color: #000000;
  }

  @media all and (max-width: 1020px) { 
    #banner1 h1 {
      font-size: 40px;
    }
  }

  @media all and (max-width: 460px) { 
    #banner1 h1 {
      font-size: 10vw;
    }
  }

  #banner2 .banner_inner {
    display: flex;
    flex-direction: column !important;
    gap: 40px;
  }

  @media all and (max-width: 1020px) { 
    #banner2 .banner_inner {
      gap: 20px;
    }
  }

  .banner_inner {
    width: 100%;
  }

  .left_content {
    display: inline-flex;
    flex-direction: column;
    gap: 30px;
    width: 320px;
    height: max-content;
  }

  @media all and (max-width: 460px) { 
    .left_content {
      width: 100%;
      gap: 15px;
    }
  }
  
  .banner_content {
    font-size: 18px;
    font-weight: 400;
    color: #505050;
  }

  @media all and (max-width: 1020px) { 
    .banner_content {
      font-size: 15px;
    }
  }

  @media all and (max-width: 460px) { 
    .banner_content {
      font-size: 4vw;
    }
  }

  .banner_background {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 470px;
    height: 300px;
    border-radius: 20px;
    background-color: #373940;
    box-shadow: 0px 0px 30px -4px #000000;
  }

  @media all and (max-width: 1200px) { 
    .banner_background {
      width: 420px;
      height: 250px;
    }
  }

  @media all and (max-width: 1020px) { 
    .banner_background {
      width: 350px;
      height: 220px;
    }
  }

  @media all and (max-width: 830px) { 
    .banner_background {
      height: 40vh;
    }
  }

  @media all and (max-width: 460px) { 
    .banner_background {
      width: 100%;
    }
  }

  .banner_background video {
    position: absolute;
    bottom: 0px;
    height: 150%;
  }
  
  .banner_background img {
    height: 100%;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    width: auto;
  }

  @media all and (max-width: 460px) { 
    .buttons {
      width: 100%;
      gap: 6%;
    }

    .buttons .button {
      width: 100%;
      flex-shrink: 1;
    }
  }

  .button {
    width: 150px;
    height: 45px;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px -4px #000000;
    color: #ffffff;
    background-color: #050505;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: all 0.1s;
  }

  @media all and (max-width: 830px) { 
    .button {
      height: 50px;
    }
  }

  @media all and (max-width: 460px) { 
    .button {
      font-size: 13px;
    }
  }

  .button:hover {
    box-shadow: 0px 0px 22px -4px #000000;
    background-color: #131313;
  }

  #banner2 h1 {
    font-size: 40px;
    margin-top: 0px;
    color: #000000;
    margin: 0px;
  }

  @media all and (max-width: 1020px) { 
    #banner2 h1 {
      font-size: 40px;
    }
  }

  @media all and (max-width: 460px) { 
    #banner2 h1 {
      font-size: 9vw;
    }
  }
  
  .minigame_title {
    padding: 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: keep-all;
  }

  @media all and (max-width: 460px) { 
    .minigame_title {
      padding: 0px;
    }
  }

  .minigame_title a {
    font-size: 18px;
  }

  @media all and (max-width: 1020px) { 
    .minigame_title a {
      font-size: 15px;
    }
  }

  .minigames {
    gap: 35px;
    height: 400px;
    overflow: hidden;
    display: flex;
    padding: 20px 60px;
  }

  @media all and (max-width: 1020px) { 
    .minigames {
      padding: 20px 20px;
      margin: 0px 40px;
    }
  }

  @media all and (max-width: 460px) { 
    .minigames {
      padding: 0px;
      margin: 0px;
    }
  }

  .minigames h3 {
    margin: 40px 0px 10px 40px;
    font-size: 18px;
  }

  @media all and (max-width: 1020px) { 
    .minigames h3 {
      font-size: 15px;
    }
  }

  .minigames div {
    box-shadow: 0px 0px 20px -5px #000000;
    color: #ffffff;
    background: #050505;
    border-radius: 20px;
    height: 100%;
    width: 70%;
    overflow: hidden;
    flex-shrink: 0;
  }

  @media all and (max-width: 1020px) { 
    .minigames div {
      width: 100%;
    }
  }

  .minigames div a {
    color: rgb(216, 216, 216);
    font-size: 14px;
    margin-left: 30px;
  }

  .minigameInfo {
    padding: 0px 60px;
  }

  @media all and (max-width: 460px) { 
    .minigameInfo {
      padding: 0px;
    }
  }

  .minigameInfo h3 {
    margin: 0px 0px 10px 0px;
  }

  .minigameBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
  }

  .arrowLeft, .arrowRight {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 8px #0006;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .arrowLeft svg, .arrowRight svg {
    height: 8px;
  }

  .minigameDots {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .minigameDots div {
    width: 8px;
    height: 8px;
    border: 1px solid #aaa;
    border-radius: 10px;
    background: #000;
    box-shadow: 0px 0px 8px #0006;
  }

  .dotPoint {
    background: #fff !important;
  }

  #banner3 h1 {
    font-size: 25px;
  }

  @media all and (max-width: 1020px) { 
    #banner3 h1 {
      font-size: 22px;
    }
  }

  @media all and (max-width: 460px) { 
    #banner3 h1 {
      font-size: 20px;
    }
  }

  #banner3 .banner_inner {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  #banner3 .banner_inner div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-break: keep-all;
    padding: 0px 60px;
  }

  @media all and (max-width: 460px) { 
    #banner3 .banner_inner div {
      padding: 0px;
      gap: 15px;
      flex-direction: column;
    }
  }

  #banner3 .rolling {
    padding: 0px 10px;
    font-size: 15px;
    font-weight: 800;
    color:#ffffff;
    background-color: #000000;
  }