main {
    padding-top: 180px;
    margin: 0px auto;
    width: 1060px;
}
@media all and (max-width: 1200px) { 
    main {
        width: 910px;
    }
}
@media all and (max-width: 1020px) { 
    main {
        width: 810px;
    }
}
@media all and (max-width: 830px) { 
    main {
        width: 100%;
    }
}
@media all and (max-width: 720px) { 
    main {
        padding-top: 120px;
    }
}

.leftMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    padding-left: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media all and (max-width: 650px) { 
    .leftMenu {
        font-size: 15px;
    }
}

.leftMenu ul {
    margin-left: 10px;
    overflow: hidden;
    transition: all 0.2s;
}

.leftMenu li:hover {
    color: #0009;
}
.leftMenu li {
    color: #0004;
    cursor: pointer;
    padding: 5px;
    list-style: none;
}

.leftMenu p:hover {
    color: #000;
}
.leftMenu p {
    color: #000a;
    cursor: pointer;
    padding: 5px;
    width: fit-content;
}

.main {
    min-height: calc(100vh - 170px - 180px - 100px);
    margin-left: 300px;
    padding: 0px 30px 100px 0px;
}
@media all and (max-width: 1200px) { 
    .main {
        margin-left: 250px;
    }
}
@media all and (max-width: 1020px) { 
    .main {
        margin-left: 200px;
    }
}
@media all and (max-width: 720px) { 
    .main {
        margin-left: 170px;
        min-height: calc(100vh - 100px - 344px - 120px);
    }
}
@media all and (max-width: 650px) { 
    .main {
        margin-left: 140px;
    }
}

@media all and (max-width: 650px) { 
    .main h1 {
        font-size: 25px;
    }
}

.main hr {
    margin: 10px 0px 25px 0px;
    border-color: #0005;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    font-weight: 400;
    word-break: keep-all;
}
@media all and (max-width: 650px) { 
    .content {
        font-size: 15px;
    }
}

.content a:hover {
    text-decoration: underline;
}
.content a {
    color: var(--color_link);
    margin: 0px 3px;
}

.code {
    background: rgb(30, 31, 32);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    font-weight: 300;
    cursor: text;
}