/* 배너 */
.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  #banner1 {
    color: #ffffff;
  }
  
  #banner1 h1 {
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 25px;
    color: #ffffff;
    text-shadow: 0px 0px 8px #050505;
  }
  
  .banner_content {
    font-size: 20px;
    color: #ffffff;
    text-shadow: 0px 0px 8px #050505;
  }

  .banner_background {
    position: absolute;
    overflow: hidden;
    width: 400px;
    height: 400px;
    margin-left: 30vw;
    border-radius: 10%;
    z-index: -1;
    box-shadow: 0px 0px 16px #000000;
  }
  
  .banner_background img {
    position: absolute;
    height: 100%;
    filter: brightness(2) contrast(80%);
  }

  .bot_invite {
    width: 200px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 25px;
    text-shadow: 0px 0px 7px #000000;
    box-shadow: 0px 0px 7px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .bot_invite { animation-duration: 2s; animation-name: rainbowLink; animation-iteration-count: infinite; } 
  @keyframes rainbowLink {     
  0% { background-color: #ff2a2a; }
  15% { background-color: #ff7a2a; }
  30% { background-color: #ffc52a; }
  45% { background-color: #43ff2a; }
  60% { background-color: #2acdff; }
  75% { background-color: #292cff; }
  90% { background-color: #6b2aff; } 
  100% { background-color: #ff2adc; }
  }