/* 배너 */
.home {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section {
  width: 1000px;
  height: 100vh;
  display: flex;
  align-items: center;
}
  
  #banner1 h1 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 30px;
    color: #000000;
  }

  #banner2 .banner_inner {
    flex-direction: column !important;
  }

  .banner_inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left_content {
    width: 320px;
    margin-right: auto;
  }
  
  .banner_content {
    font-size: 18px;
    font-weight: 400;
    color: #505050;
  }

  .banner_background {
    position: relative;
    overflow: hidden;
    width: 470px;
    height: 300px;
    border-radius: 20px;
    background-color: #373940;
    box-shadow: 0px 0px 30px -4px #000000;
  }

  .banner_background video {
    position: absolute;
    bottom: 0px;
    height: 150%;
  }
  
  .banner_background img {
    height: 100%;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    width: 150px;
    height: 45px;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 0px 0px 25px -4px #000000;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #banner2 h1 {
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #000000;
    margin: 0px;
  }
  
  .minigame_title {
    width: 90%;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .minigame_title a {
    font-size: 20px;
  }

  .minigames {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    width: 100%;
  }

  .minigames h3 {
    margin: 30px 0px 10px 30px;
  }

  .minigames div {
    box-shadow: 0px 0px 20px -5px #000000;
    color: #ffffff;
    border-radius: 20px;
    height: 200px;
    overflow: hidden;
    position: relative;
  }

  .minigames img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: blur(4px) brightness(50%);
  }

  .minigames img:hover {
    filter: blur(2px) brightness(80%);
  }

  .minigames div a {
    color: rgb(216, 216, 216);
    font-size: 14px;
    margin-left: 30px;
  }

  #banner3 h1 {
    font-size: 40px;
  }

  #banner3 a {
    padding: 0px 10px;
    font-size: 60px;
    font-weight: 800;
    color:#ffffff;
    background-color: #000000;
  }