/* 콘텐츠 */
.content {
    padding: 110px 100px 100px 100px;
  }
  
  .back_ground {
    height: 130px;
    overflow: hidden;
    display: flex;
    background-color: #333333;
    align-items: center;
    justify-content: center;
  }

  .back_ground img {
    width: 100%;
    overflow: hidden;
  }

  .dev {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }

  .description {
    padding: 30px 20px 30px 20px;
  }
  
  #path_note {
    display: flex;
    justify-content: center;
  }
  
  .box1 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(105, 105, 105, 0.4) 0px 0px 25px 0px;
    text-align: center;
    width: 400px;
    overflow: hidden;
  }
  
  .profile2 {
    border-radius: 50%;
    width: 100px;
    bottom: 50px;
    left: 20px;
    filter: drop-shadow(0px 0px 10px #000000);
    position: relative;
  }

  .profile1 {
    position: absolute;
  }
  
  .info {
    padding: 10px 20px 0px 130px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  
  .box1 h1 {
    font-family: "Cafe24SsurroundAir";
    font-size: 25px;
    padding: 0px 4px;
    margin: 0px;
  }
  
  .box1 a {
    padding: 0px 4px;
  }
  
  .icon,
  .fab,
  .fas {
    width: 15px;
    color: #000000;
  }
  
  .discord_username {
    color: #5865F2;
    font-size: 13px !important;
    margin-right: auto;
  }
  
  .like {
    width: 10px;
  }
  
  hr {
    color: #ffffff;
    border-color: #ffffff;
  }