/* 콘텐츠 */
.content {
    padding: 110px 100px 100px 100px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  
  .back_ground {
    height: 130px;
    overflow: hidden;
    display: flex;
    background-color: #333333;
    align-items: center;
    justify-content: center;
  }

  .back_ground img {
    z-index: 1;
    width: 100%;
    overflow: hidden;
  }

  .dev {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }

  .description {
    padding: 30px 20px 30px 20px;
  }
  
  #path_note {
    display: flex;
    justify-content: center;
  }
  
  .box1 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(105, 105, 105, 0.4) 0px 0px 25px 0px;
    text-align: center;
    width: 400px;
    z-index: -2;
    overflow: hidden;
  }

  .profile1 {
    position: absolute;
  }

  .profile2 {
    z-index: 1;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    bottom: 50px;
    left: 20px;
    border: 4px solid #000000;
    filter: drop-shadow(0px 0px 10px #000000);
    border-left: #000000;
    position: relative;
    overflow: hidden;
    background-color: #000000;
  }

  .profile3 {
    width: 100px;
  }
  
  .info {
    padding: 10px 20px 0px 130px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  
  .icon,
  .fab,
  .fas {
    width: 15px;
    color: #000000;
  }

  .name {
    font-family: "Cafe24SsurroundAir";
    font-size: 25px;
    padding: 0px 5px 0px 0px;
    margin: 0px;
  }
  
  .discord_username {
    color: #5865F2;
    font-size: 13px !important;
    margin-right: auto;
  }

  .path_note_header {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    height: 30px;
  }

  .path_note_header a {
    padding: 0px;
  }

  .path_note_content {
    padding: 15px 15px;
  }

  .path_note_footer {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
  }
  
  .like {
    width: 20px;
    height: 20px;
    padding-right: 5px;
  }
  .like_count {
    margin-right: auto;
    padding: 0px;
  }

  .user_icon {
    width: 80%;
  }

  .user_icon_border {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #000000;
    display: flex;
    position: relative;
    justify-content: center;
  }

  .user_name {
    margin-right: auto;
    font-size: 15px;
  }

  .version {
    font-size: 15px;
  }
  
  hr {
    margin: 0px;
    color: #ffffff;
    border-color: #ffffff;
  }