/* 푸터 */
footer {
    background-color: #0f0f0f;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .footer3 {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1000px;
  }

  @media all and (max-width: 1080px) { 
    .footer3 {
      width: 100%;
    }
  }

  @media all and (max-width: 720px) { 
    .footer3 {
      padding: 40px 0px;
      gap: 20px;
    }
  }
  
  .footer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media all and (max-width: 1080px) { 
    .footer1 {
      margin: 0px 40px;
    }
  }

  @media all and (max-width: 720px) { 
    .footer1 {
      flex-direction: column;
      align-items: normal;
    }
  }
  
  .footer1 a {
    color: #7a7a7a;
    text-decoration: none;
  }

  .footer1 a:hover {
    color: #bbb;
  }
  
  .logo4 {
    height: 35px;
    padding-right: 10px;
    opacity: 0.5;
  }

  @media all and (max-width: 720px) { 
    .logo4 {
      height: 40px;
    }
  }

  .copyright {
    display: block;
    color: #7a7a7a;
  }

  @media all and (max-width: 720px) { 
    .copyright {
      display: none;
    }
  }

  .footAbout {
    display: flex;
    align-items: center;
  }

  .footMenu, .other {
    display: flex;
    align-items: center;
    flex-wrap : wrap;
    line-height: 50px;
  }

  .footMenu a {
    padding: 0px 7px;
    font-size: 15px;
  }

  .other a {
    font-size: 15px;
    padding: 0px 7px;
  }

  #menu, #other {
    display: none;
    font-size: 18px;
    color: #eee;
    margin-bottom: 10px;
  }

  #copyright {
    display: none;
    font-size: 12px;
    color: #5c5c5c;
  }

  @media all and (max-width: 720px) {
    .footAbout {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      font-size: 20px;
      font-weight: 700;
    }

    #menu, #other, #copyright {
      display: block;
    }

    .other a, .footMenu a {
      font-size: 18px;
    }

    #copyright {
      margin-bottom: 45px;
    }
  }